--- 
title: Projects
layout: default
keywords: Neil,Patil,Projects,Technology,Software,Security,Robotics,Web Development,Austin,San Francisco
---

{% include nav.html %}

<div class="col-md-12">
	<h1 class="title">Projects</h1>

	<div class="grid">

	{% for project in site.data.projects %}
	<a target="_blank" href="{{ project.link }}">
		<div class="grid-item grid-item-{{ project.size }}" style="background-color: {{ project.color }};">
			<h1>{{ project.name }}</h1>
			<p>{{ project.shortDescription }}</p>
			<div class="layer" style="background-image: url({{ project.picture }});">
			</div>
		</div>
	</a>

	{% endfor %}
</div>
