--- 
title: Reading
layout: default
keywords: Neil,Patil,Projects,Technology,Software,Security,Robotics,Web Development,Austin,San Francisco, Reading, Links, People, Articles
---

{% include nav.html %}

<div class="col-md-12">
    <h1 class="title">Reading</h1>
    
    <p>A great blog >= a great book. Here's a few I regularly learn from. <a href="mailto:neilpatil215@gmail.com">Give me recs</a>!</p>

    {% assign links = site.data.links | sort: "name" %}
    <p><ul>
        {% for link in links %}
        <li>
            <a target="_blank" href="{{ link.link }}">
                {{ link.name }}
            </a>
        </li>
        {% endfor %}
    </ul></p>

    <p>(I do like books as well... friend me on <a href="https://www.goodreads.com/user/show/53946421-neil">Goodreads</a> to find them!)</p>

</div>