--- 
title: Reading
layout: default
keywords: Neil,Patil,Projects,Technology,Software,Security,Robotics,Web Development,Austin,San Francisco, Reading, Links, People, Articles
---

{% include nav.html %}

<div class="col-md-12">
    <h1 class="title">Reading</h1>
    
    <p>My favorite part of other' websites are the "link drops". If you have more recommendations, <a href="mailto:neilpatil215@gmail.com">let me know</a>!</p>

    {% assign links = site.data.links | sort: "name" %}
    <p><ul>
        {% for link in links %}
        <li>
            <a target="_blank" href="{{ link.link }}">
                {{ link.name }}
            </a>
        </li>
        {% endfor %}
    </ul></p>

    <p>The above is all internet blogs - for books, friend me on <a href="https://www.goodreads.com/user/show/53946421-neil">Goodreads</a>!</p>

</div>